In [ ]:
import keyword as kw

print (kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
print (len(kw.kwlist))

35

In [ ]:
a=15
print("value of a is:",a)

value of a is: 15

In [ ]:
A=25
B=32
print ("the value of A is {} and B is {}".format(A,B))

the value of A is 25 and B is 32

In [ ]:
A=25
B=32
C=43.5
print ("the value of A is {}, B is {} and C is {}".format(A,B,C))

the value of A is 25, B is 32 and C is 43.5

In [ ]:
A=5.4
B=2.5

print ("the value of A is {1} and B is {0}".format(A,B))

the value of A is 2.5 and B is 5.4

In [ ]:
print ("Hello {name}, {greeting}".format(name="Alex", greeting ="Good Luck!"))

Hello Alex, Good Luck!

In [ ]:
print  ("The story of  {0},{1},{other}".format ("Vinay","Sir",other="kgcoding"))

The story of  Vinay,Sir,kgcoding

In [ ]:
a=2; b=3; c=6; d=7 ;e=1
print(a,b,c,d,e)

2 3 6 7 1

In [ ]:
a=float(9.6)
print (a)

9.6

In [ ]:
a,b,c,d,e = 1,2,3,8,4
print (a,b,c,d,e)

1 2 3 8 4

In [ ]:
n,k=map(int, input().split())
print (n)
print (k)

10 20
10
20

In [ ]:
n,k=map(int, input().split(","))
print (n)
print (k)

10,20
10
20